*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: radial-gradient(rgb(28, 226, 240) 70%, rgb(18, 104, 218));
    background-repeat: no-repeat;
    padding-block: 40px;
    overflow: hidden;
}

#Game{
    align-items:center;
    display:inherit;
}

.grid{
    height: 480px;
    width: 240px;
    background-color: rgb(124, 199, 209);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
}
.grid div{
    height: 24px; 
    width: 24px;
    border-radius: 5px;
}
.shape {
    opacity: 55%;
}

.highlighted{
    opacity: 100%;
}
.score{
    margin: auto;
    width: 100%;    
    height: 100%;
    text-align: center;
}

.btn{
    border-radius: 5px;
    font-size: medium;
    font-family: cursive;
}
.btn-container{
    justify-content: center;
    margin: auto;
    display: flex;
    padding: .5rem;
    gap: 10px;
}

.red{background-color: red;}
.orange{background-color: rgb(255, 165, 0);}
.yellow{background-color: yellow;}
.pink{background-color: rgb(248, 153, 169);}
.green{background-color: greenyellow;}

#playerNameForm {
    text-align: center;
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
    width: 200px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

  #gameAndPlayerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }
  
  #sideContainer {
    width: 10%; 
    padding: 20px;
    background-image: radial-gradient(rgb(73, 230, 241) 85%, rgb(177, 204, 243));
  } 
  
  #buttonContainer {
    clear: both;
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-container {
    display: inline-block;
    gap: 10px;
  }
  
  